[Desktop Entry]
Name=Vyqchat
Comment=Chat application for the QT
Comment[pl]=Program do pogawędek sieciowych dla QT
Exec=vyqchat
Icon=vyqchat
Terminal=false
Type=Application
Categories=Qt;Network;
StartupNotify=true
# vi: encoding=utf-8
